html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}
ul {
  list-style-type: none;
}

li {
  text-align: center;
  margin-bottom: 5px;
  padding: 8px;
}

.nav-item.active a {
  border: solid 1px;
  border-color: #e9ecef #e9ecef #dee2e6;
}

.btn {
  border-radius: 10px;
}

.bg-vermelho {
  background-color: rgb(226, 69, 69);
}
.bg-rosa{
  background-color: rgb(201, 114, 193);
}

.bg-azul{
  background-color: rgb(100, 100, 236);
}

.bg-ciano{
  background-color: rgb(107, 235, 235);
}

.bg-amarelo{
  background-color: rgb(240, 240, 98);
}

.bg-verde {
  background-color: rgb(109, 231, 109);
}

.bg-cinza {
  background-color: rgb(194, 194, 194);
}

